@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.App {
  /* text-align: center; */
  background-image: url('./assets/background.svg');
  min-height: 100vh;
  background-size: 100vw;
}

.App-logo {
  height: 50vmin;
  margin-left: -85px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  /* display: flex; */
  padding-left: 80px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}

.description {
  width: 600px;
}

.listGame {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
}

.card {
  max-width: 600px
}

.leaderboard {
  padding-top: 80px;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.box {
  height:fit-content;
  background-color: #64C6DC;
  padding: 50px 50px 20px 50px;
  border-radius: 30px;
  margin-bottom: 20px;
}

th {
  width: 50%;
}

/* Snake */
#map {
  display: block;
  margin: 0 auto;
  margin-left: -380px;
  border: 5px dashed black;
}

.wrapper {
  position: relative;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

#score {
  position: absolute;
  right: 0;
  top: 0;
  margin: 10px;
  font: 35px Comic Sans MS;
}