@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* @import '~@sweetalert2/theme-borderless/borderless.scss'; */

.App {
  /* text-align: center; */
  background-image: url('./assets/background.svg');
  min-height: 100vh;
  background-size: 100vw;
}

.App-logo {
  height: 50vmin;
  margin-left: -85px;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: hsl(220, 13%, 18%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Home {
  /* display: flex; */
  padding-left: 80px;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  font-family: 'Roboto', sans-serif;

}


.description {
  width: 600px;
}

.listGame {
  min-height: 100vh;
  padding-top: 50px;
  padding-left: 50px;
}

.card {
  max-width: 600px
}

.leaderboard {
  padding-top: 80px;
  justify-content: center;
  text-align: center;
  min-height: 100vh;
}

.box {
  height:fit-content;
  background-color: #64C6DC;
  padding: 50px 50px 20px 50px;
  border-radius: 30px;
  margin-bottom: 20px;
  box-shadow: 9px 9px 16px rgba(58, 96, 153, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
}

th {
  width: 50%;
}

.waiting {
  text-align: center;
  min-height: 100vh;
}

.rules {
  width: 400px;
  height: 400px;
  padding-top: 100px;

}

.neumorphism {
  box-shadow: 9px 9px 16px rgba(58, 96, 153, 0.6), -9px -9px 16px rgba(255, 255, 255, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 30px;
  border-radius: 30px;
  position: relative;
  background-color: #64C6DC;
  border-radius: 20px;
  border: 1px solid rgba(255,255,255,0.2);
}
